.cart-items{
margin: 100px 170px;
}
.cart-items hr{
    height: 3px;
    background-color: #e2e2e2;
    border: 0;
}
.cartitems-format-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon {
    height: 62px;
}
.cart-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 62px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: #ffff;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    background-color: #ff5a5a;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
    margin-left: 20px;
    font-size: 18px;
}
.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    margin-left: 20px;
    height: 58px;
    background-color: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    height: 50px;
    width: 330px;
}
.cartitems-promobox button{
    width: 170px;
    height: 59px;
    font-size: 16px;
    background-color: black;
    color: #ffff;
    cursor: pointer;
}