.discription-box{
    margin: 120px 170px;
}
.discription-navigator{
    display: flex;
}
.discription-nav-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.discription-nav-box-fade{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
    color: #555;
}
.discriptionbox-discription{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}