.signup{
    width: 100%;
    height: 80vh;
    background-color: #fce3fe;
    padding-top: 100px;
   
}
.signup-container{
    width: 580px;
    height: 600px;
    margin: auto;
    background-color: #fff;
    padding: 40px 60px;
    
}
.signup-container h1 {
    margin: 20px 0px;
}
.signup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.signup-fields input{
    width: 100%;
    height: 72px;
    padding-left:20px;
    border-radius: 40px;
    border: 1px solid #c9c9c9;
    font-size: 18px;
    color: #5c5c5c;
    outline: none;
}
.signup-container button{
    width: 580px;
    height: 72px;
    color: #fff;
    background-color: #ff4141;
    margin-top: 30px;
    font-weight: 500;
    cursor: pointer;
    font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
    border: none;
}
.login-btn{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.login-btn span {
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.login-agree{
display: flex;
font-weight: 500;
font-size: 18px;
color: #5c5c5c;
gap: 20px;
align-items: center;
margin-top: 25px;

}